
.gridbox{
	position:absolute;
	top:700px;
	padding-top:20px;
	left:5%;
	width:90%;
	margin:auto;
	display:grid;
	grid-column-gap:12.5%;
	grid-template-columns:25% 25% 25%;
	grid-row-gap:20px;
	background-color:rgb(255,250,250);

}

